/* Search button */

.search-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.search-box{
    display: flex;
    width: 51%;
    height: 75%;
}
.search-bar{
    flex: 1;
    margin-right: 7px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    padding: 6px 10px;
}
.search-bar:focus{
    border: 0;
    outline: 0;
}
.search-close{
    width: 5.4%;
    border: 0;
    border-radius: 8px;
    background-color: red;
}
.search-close img{
    width: 80%;
    padding-top: 3px;
}

/* Login button */

.login-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 200;
    display: none;
}
.login-page{
    background-color: #ebebeb;
    display: flex;
    padding: 30px 40px;
    border-radius: 16px;
    border: 1px solid #a8a8a8;
    text-align: center;
    color: black;
    position: relative;
    width: 32%;
}
.login-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    padding: 2px 0 0 1px;
}
.login-close img{
    width: 25px;
}
.log-head{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width: 100%;
}
.log-logo img{
    width: 200px;
    margin-bottom: 15px;
}
.login-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 20px;
    cursor: pointer;
}
.login, .signup{
    padding: 9px;
    flex: 1;
}
.vertical-line{
    width: 1px;
    height: 20px;
    background-color: #a8a8a8;
}
.login:hover, .signup:hover{
    border-bottom: 2px solid black;
}
.log-content{
    display: none;
}
.log-content.active{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.log-details{
    display: grid;
    grid-template-rows: 37px 1fr 1fr;
    row-gap: 15px;
}
.log-details input{
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    outline: none;
}
.log-details input:focus{
    border-color: #4e6356;
    box-shadow: 0 0 5px rgba(53, 74, 67,0.5);
}
.forgot-pass{
    text-decoration: none;
    color: #0065ca;
    cursor: pointer;
    width: 150px;
    font-size: 14px;
    margin-top: 5px;
}
.forgot-pass:hover{
    color: red;
}
.log-button{
    margin: 25px 0 0;
}
.log-button button{
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: #4e6356;
    color: white;
}
.log-button button:hover{
    background-color: #354a43;
}
.sign-content{
    display: none;
}
.sign-content.active{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sign-details{
    display: grid;
    grid-template-rows: 37px 1fr 1fr 1fr;
    row-gap: 15px;
}
.sign-details input{
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    outline: none;
}
.sign-details input:focus{
    border-color: #4e6356;
    box-shadow: 0 0 5px rgba(53, 74, 67,0.5);
}
.sign-button{
    margin: 25px 0 0;
}
.sign-button button{
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: #4e6356;
    color: white;
}
.sign-button button:hover{
    background-color: #354a43;
}
.log-partition{
    display: flex;
    flex-direction: row;    
    column-gap: 10px;
    align-items: center;
}
.log-partition hr{
    width: 50%;
    margin: 0;
}
.log-options{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.log-options img{
    width: 25px;
}
.log-options button{
    padding: 10px 0 7px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    flex: 1;
}

/* wishlist button */

.wishlist-overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 200;
}
.wishlist-popup{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 16px;
    border: 1px solid #a8a8a8;
    color: black;
    position: relative;
    width: 50%;
}
.wish-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    padding: 2px 0 0 1px;
}
.wish-close img{
    width: 25px;
}
.wishlist-head{
    margin: 13px 0 20px;
    width: 100%;
}
.wishlist-head p{
    margin: 10px 0 10px;
}
.wishlist-head hr{
    width: 100%;
}
.wishlist-content{
    display: grid;
    grid-auto-rows: 134px;
    grid-gap: 10px;
    padding: 5px;
    overflow: auto;
    height: 421px;
}
.wish-prodects{
    background-color: white;
    display: grid;
    grid-template-columns: 170px 1fr;
    border-radius: 9px;
    overflow: hidden;
}
.wProduct-img{
    overflow: hidden;
}
.wProduct-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wProduct-details{
    display: grid;
    grid-template-rows: 1fr 20px 30px;
    row-gap: 7px;
    padding: 15px 24px;
}
.p-cost-button{
    display: flex;
    justify-content: space-between;
}
.w-offer{
    display: inline-block;
    font-size: 16px;
    border-radius: 17px;
    color: rgb(255, 0, 0);
    font-weight: 600;
    margin-right: 5px;
}
.p-remove{
    color: #0065ca;
    display: inline-block;
    cursor: pointer;
}
.p-remove:hover{
    color: red;
}
.p-add-cart{
    background-color: #4e6356;
    color: white;
    border: none;
    padding: 7px 13px;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .login-page{
        width: 70%;
    }
    .search-box{
        width: 80%;
        height: 75%;
    }
    .search-bar{
        border-radius: 5px;
        font-size: 9px;
        margin-right: 5px;
    }
    .search-close{
        width: 5.4%;
        border-radius: 5px;
    }
}