.intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#4e6356;
    /*overflow: hidden;*/
}
.logo-container{
    position: relative;
}
.image{
    width: 200px;
    opacity: 1;
}
.image:nth-child(1) {
    animation: moon-anim 1.5s linear 1s forwards;
    margin-right: 60px;
}
.image:nth-child(2) {
    position: absolute;
    top: -63vh;
    left: 200px;
    width: 220px;
    animation: van-anim 2s linear 1s forwards;
    transform: translatey(1vh);
}
.image:nth-child(3) {
    position: absolute;
    top: -60vh;
    left: 201.5px;
    width: 220px;
    animation: tire-anim 2s linear 1s forwards;
    transform: translatey(0vh);
}
.image:nth-child(4) {
    position: absolute;
    left: 209px;
    top: 5px;
    width: 124px;
    margin-right: -25px;
    animation: die-anim 3.6s linear 1s forwards;
}
.image:nth-child(5) {
    animation: cast-anim 1s linear 1s forwards;
    margin-left: 50px;
}
.invisible-box{
    background-color: #4e6356;
    width: 37vh;
    height: 10%;
    margin-top: -22px;
    border-top: 3px black inset;
    animation: box-anim 1s linear 1.5s forwards;
    opacity: 0;
    z-index: 200;
}
.content-visible{
    opacity: 1;
    transform: translateY(0);
}
        
@keyframes moon-anim {
    100% {
        margin-right: 108px;
    }
}
@keyframes die-anim {
    0% {
        left: 209px;
    }
    34% {
        left: 313px;
        top: 5px;
    }
    42%{
        left: 313px;
        top: 5px;
    }
    52%{
        left: 313px;
        top: 64px;
    }
    100%{
        left: 313px;
        top: 80px;
    }

}
@keyframes van-anim {
 0%{
    top: -63vh;
 }
 20% {
    top: -43vh;
 }
 40%{
    top: -23vh;
 }
 60%{
    top: -9vh;
    transform: rotate(-35deg);
 }
 65%{
    top: -9vh;
    transform: rotate(-35deg);
 }
 
 100%{
    top: -3vh;
    transform: rotate(-0deg);
 }

}
@keyframes tire-anim {
 0%{
    top: -60vh;
 }
 20% {
    top: -40vh;
 }
 40%{
    top: -20vh;
 }
 60%{
    top: -7vh;
    left: 203px;
    transform: rotate(-35deg);
 }
 65%{
    top: -7vh;
    left: 203px;
    transform: rotate(-35deg);
 }
 100%{
    top: -3vh;
    transform: rotate(0deg);
 }
}

@keyframes cast-anim {
    100% {
        margin-left: 108px;
    }
}
@keyframes box-anim{
    100%{
        opacity: 1;
    }
}
